{% extends 'base.html.twig' %}

{% block title %}{{ "Vehicle"|trans}} {{ "index"|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ "Vehicle"|trans}} {{ "index"|trans }}</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>{{ "Number"|trans }}</th>
                    <th>{{ "Is_active"|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for vehicle in vehicles %}
                <tr>
                    <td>{{ vehicle.id }}</td>
                    <td>{{ vehicle.number }}</td>
                    <td>{{ vehicle.isActive ? 'Yes' : 'No' }}</td>
                    <td>
                        <a href="{{ path('vehicle_show', {'id': vehicle.id}) }}">{{ "show"|trans }}</a>
                        <a href="{{ path('vehicle_edit', {'id': vehicle.id}) }}">{{ "edit"|trans }}</a>
                        <a href="{{ path('visit_index_by_vehicle', {'vehicle': vehicle.id}) }}">{{ "list only for this vehicle"|trans }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{{ "no records found"|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('vehicle_new') }}">{{ "Create new"|trans }}</a>
    </div>
{% endblock %}
